# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
.env
.venv
env/

# Git
.git
.gitignore

# Project Metadata (Not needed for the app to run)
README.md
architecture_diagrams/
tests/

# OS/IDEs
.DS_Store
.vscode/
.idea/
